.register{
width: 100%;
height: calc(100vh - 55px);
display: flex;
margin-top: 0px;
justify-content: center;
align-items: center;
flex-direction: column;
/* background: linear-gradient(rgba(255,255,255,0.5),
rgba(255,255,255,0.5)),
url('https://media.istockphoto.com/id/1426988809/photo/security-password-login-online-concept-hands-typing-and-entering-username-and-password-of.webp?b=1&s=170667a&w=0&k=20&c=AJD5Wv30lmyILccJyMpQGhkmh0VhZ5WNDtk53MO1OVM='); */

background-size:cover;
}
.register .loginAccount{
    position: absolute;
    top: 90px;
    right: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color:rgba(0, 255, 128, 0.575);
    padding: 2px 5px;
    font-size: 22px;
    cursor: pointer;
    font-weight:900;
}
.register .link{
    color:black;

}
.registerForm{
    width: 30%;
background-color: rgba(0, 0, 0, 0.267);
min-height: 250px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
padding: 20px;
}
.registerForm .formTitle{
    font-size: 30px;
    padding: 10px;
    font-weight: 500;
    color: rgb(51, 47, 47);
    text-shadow: 1px 1px 1px cadetblue,
    -1px -1px white;
}
.registerForm input{
    width: 77%;
    height: 30px;
    border: 0.5px solid black;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    padding: 3px;
    font-size: 20px;
    border: none;
}
.registerForm input:focus{
    outline: none;
}
.registerForm button{
    width: 120px;
    height: 35px;
    margin-top: 15px;
    font-size: 22px;
    border-radius: 10px;
    font-weight: 700px;
    color: black;
    font-weight: 900;
    background-color: rgba(126, 172, 214, 0.911);
    cursor: pointer;
    border: none;
}

/* media query */
@media only screen and (min-width:320px) and (max-width:920px){
    .registerForm{
        width: 95%;
    border-radius: 5px;

    }
    .registerForm .formTitle{
        font-size: 22px;
    }
}
